.card{
    padding: 10px 10px 30px 10px ;
    background-color: #24b47e;
    margin-bottom: 20px;
    border-radius: 5px;
}

.img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #181818;
}